<h1>Recap</h1>

<h2>Nombre de réservation : <%= @total_bookings %></h2>
<h2>Nombre d'acheteurs uniques : <%= @total_client %></h2>
<h3>Age moyen : <%= @average_age %> ans</h3>
<h3>Prix moyen par representation: <%= @average_price %></h3>
<h3>Prix moyen par client <%= @average_price_by_client %></h3>
